@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Space+Grotesk:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.curve-divider-top {
  position: relative;
  height: 60px;
  overflow: hidden;
}
.curve-divider-top::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 120%;
  height: 100%;
  border-radius: 50% 50% 0 0;
  background-color: inherit;
}
.concave-divider {
  position: relative;
  height: 80px;
  background: transparent;
  overflow: hidden;
}
.concave-divider::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 100%;
  background: radial-gradient(
    circle at 100% 0%,
    transparent 40px,
    currentColor 41px
  );
  left: 0;
  color: inherit;
}
.concave-divider::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 100%;
  background: radial-gradient(
    circle at 0% 0%,
    transparent 40px,
    currentColor 41px
  );
  right: 0;
  color: inherit;
}
